:root {
    --Blue: #212a2e;
    --Grey: #4d4d4d;
    --White: #fff;
    --Light-red: #ff4d4d;
    --Dark-grey: #333333;
    --Grey-transparent: #4d4d4d80;
    --White-transparent: #ffffff80;
    --Light-red-transparent: #ff4d4d80;
    --Dark-grey-transparent: #33333380;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--White);
    background-color: var(--Blue);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--Grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--White-transparent);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--Dark-grey);
}

.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

.medium-text {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.22px;
}

.small-text {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.12px;
}

.container {
    width: 80%;
    margin-left: 17.5%;
    margin-bottom: 20px;
    margin-right: auto;
    border-radius: 20px;
    border: 1px solid var(--Grey);
    background-color: var(--Dark-grey);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.section {
    padding: 30px 0;
}

.no-padding-top {
    padding-top: 0;
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.text-center {
    text-align: center;
}

/* Nav Bar */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--Dark-grey);
    border-bottom: 1px solid var(--Grey);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7;
    color: var(--White);
    margin: 20px;
}

.navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--Dark-grey);
    background-color: var(--Dark-Grey);
}

.navbar-button:hover {
    background-color: var(--Grey); 
    cursor: pointer;
}

.navbar-icon {
    width: 24px;
    height: 24px;    
}

.nav-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    width: 50px;
    color: var(--Grey);
    background-color: var(--White);
    border: 1px solid var(--Grey);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.nav-form-button:hover {
    background-color: var(--Dark-grey);
    color: var(--White);
}

.nav-search-bar {
    padding: 10px 30px;
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid var(--grey);
    transition: width 250ms ease-in;
}

.nav-search-bar:focus {
    width: 450px;
}

.nav-button-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bell.icon {
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--Dark-Grey);
    border: 1px solid var(--Grey-transparent);
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-picture:hover,
.bell.icon:hover {
    background-color: var(--Grey);
    border-color: var(--White);
    cursor: pointer;
}

.profile-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 10px;
    padding: 20px;
}

.profile-item {
    padding: 8px;
    width: 100%;
}

.profile-item:first-child {
    background-color: var(--Grey-transparent);
    border-radius: 10px;
}

.profile-item:not(:first-child):hover {
    background-color: var(--Grey);
    cursor: pointer;
}

.profile-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 4.5%;
    position: fixed;
    top: 0;
    right: 3.5%;
    min-width: 20%;
    z-index: 5;
    /* padding: 20px; */
    border-radius: 10px;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey-transparent);
}

.profile-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-settings {
    display: flex;
    margin-left: 16px;
    align-items: center;
    gap: 5px;
}

.profile-display-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    width: 95%;
}

.profile-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-display .icon {
    width: 22px;
    height: 22px;
}

.profile-theme {
    position: relative;
    width: 60px;
    height: 26px;
    border-radius: 20px;
    background-color: var(--White-transparent);
    cursor: pointer;
}

.profile-theme::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;
    width: 40%;
    height: 85%;
    padding: 12px;
    background-color: var(--Dark-grey);
    transition: transform 250ms ease-in-out;
}

.profile-checkbox:checked ~ .profile-theme::after {
    transform: translateX(135%);
}

.profile-checkbox {
    display: none;
}

.profile-logout {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}

.notif-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    margin-top: 4.5%;
    top: 0;
    right: 7.5%;
    width: 30%;
    height: 70%;
    overflow: auto;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey-transparent);
    border-radius: 10px;
    z-index: 5;
    scrollbar-width: none;
}

.notif-more-wrapper {
    visibility: hidden;
    position: fixed;
    top: 14.5%;
    right: 8.5%;
    padding: 10px;
    border: 1px solid var(--Grey-transparent);
    background-color: var(--Dark-grey);
    border-radius: 10px;
}

.notif-more {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 7px;
    padding: 5px;
    cursor: pointer;
}

.notif-container::-webkit-scrollbar {
    display: none;
}

.notif-list {
    padding: 5px;
}

.notif-item:hover,
.notif-more:hover {
    background-color: var(--Grey);
}

.notif-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--Grey);
    padding: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.more.icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
}

.more.icon:hover {
    background-color: var(--Dark-grey);
}

.notif-button {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid var(--Grey);
    background-color: var(--Dark-grey);
    color: currentColor;
    cursor: pointer;
}

.notif-button:hover {
    border: 1px solid var(--White-transparent);
    background-color: var(--Grey);
    color: currentColor;
    cursor: pointer;
}

.notif-button:first-child {
    margin-left: 10px;
}

.notif-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notif-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.notif-posted {
    display: block;
    margin-top: 5px;
}

/* End of Navbar */
/* Side Nav */
.side-nav {
    padding-top: 90px;
    background-color: var(--Dark-grey);
    border-right: 1px solid var(--Grey);
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    overflow: auto;
    scrollbar-width: none;
}

.side-nav::-webkit-scrollbar {
    display: none;
}

.side-nav-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    row-gap: 25px;
}

.side-navbar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.side-navbar-item span {
    overflow: hidden;
}

.side-navbar-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    margin-right: 15px;
}

.side-navbar-link {
    display: flex;
    align-items: center;
    padding: 8px 5px;
}

.side-navbar-link:hover,
.side-navbar-icon:hover,
.highlight {
    background-color: var(--Grey);
    color: var(--Light-red);
    border-radius: 4px;
}

.feature-container {
    display: flex;
    flex-direction: column;
}

/* Login Modal */
.is-hidden {
    visibility: hidden;
}

.login-modal,
.register-modal {
    position: fixed;
    top: 0;
    background-color: var(--Dark-grey-transparent);
    width: 100%;
    height: 100%;
    z-index: 5;
}

.login-modal-container,
.register-modal-container {
    position: absolute;
    top: 40%;
    left: 50%;
    min-width: 550px;
    background: var(--Dark-grey); 
    border-radius: 15px; 
    border: 1px solid var(--White-transparent);
    transform: translate(-50%, -50%) scale(1);
}

.login-modal-icon, 
.register-modal-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    fill: currentColor;
    border-radius: 50%;
    border: 1px solid var(--White-transparent);
    cursor: pointer;
}

.login-modal-icon:hover,
.register-modal-icon:hover,
.accordion.icon:hover {
    background-color: var(--Grey);
    border: 1px solid var(--White);
}

.form-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: var(--Grey-transparent);
    padding: 15px 0 5px 0;
}

.form-heading .icon {
    width: 25px;
    height: 25px;
}

.form-wrapper {
  padding: 20px 20px 15px 20px;
}

.input-wrapper {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 37px;
    left: 15px;
    width: 20px;
    height: 20px;    
}

.form-icon.visible {
    position: absolute;
    top: 37px;
    left: 92%;
    cursor: pointer;
}

.form-input,
.form-button {
    width: 100%;
    padding: 9px 45px;
    margin: 5px 0;
    color: var(--White);
    background-color: var(--Dark-Grey);
    border: 1px solid var(--White-transparent);
    border-radius: 4px;
}

.reg-visible:hover,
.form-input:focus,
.form-input:focus ~ .form-icon,
.form-icon.visible:hover {
    color: var(--White-transparent);
    border-color: var(--White);
}

.form-button {
    margin: 8px 0;
    cursor: pointer;
}

.form-button:hover {
    background-color: var(--Grey);
    color: var(--White-transparent);
}

.register-modal {
    visibility: hidden;
}

.register {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin: 5px 0 10px 2px;
}

.register-link {
    color: var(--White-transparent);
}

.register-link:hover {
    color: var(--Dark-Grey);
}

.reg-visible {
    position: absolute;
    left: 90%;
    cursor: pointer;
}

.password-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

.password-wrapper .input-wrapper {
    width: calc(100% / 2 - 3px);
}

/* Accordion Modal */
.accordion-modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Dark-grey-transparent);
    z-index: 5;
}

.accordion-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 70%;
    background: var(--Dark-grey);
    border-radius: 15px;
    border: 1px solid var(--White-transparent);
    transform: translate(-50%, -50%) scale(1);
}

.accordion-modal-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--Grey-transparent);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.accordion-modal-header {
    width: 100%;
    height: 45px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px;
    background-color: var(--Grey-transparent);
}

.accordion.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--White-transparent);
    cursor: pointer;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 10px 1px 10px;
    background-color: var(--Grey);
    border: 1px solid var(--White-transparent);
    cursor: pointer;
}

.accordion-header.his{
    margin-top: 0;
}

.accordion-content {
    border: 1px solid var(--Grey);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0 10px 10px 10px;
    height: 100px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.accordion-content::-webkit-scrollbar {
    display: none;
}

.accordion-content.fav {
    border-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.accordion-content.his {
    height: 0;
    visibility: hidden;
}

.fav.accordion-content .accordion-content-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 10px;
}

.fav-manga-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fav-manga-chapter,
.fav-manga-status {
    display: flex;
    justify-content: space-between;
}

.fav-manga-buttons {
    align-self: center;
    padding: 5px;
}

.fav-manga-button {
    background-color: var(--Grey);
    color: var(--White);
    cursor: pointer;
    border: 1px solid var(--White-transparent);
    padding: 4px;
    margin: 0 20px 0 20px;
}

.accordion-content-item:nth-child(even) {
    background-color: var(--Grey);
}

.accordion-content-item:nth-child(odd) {
    background-color: var(--Grey-transparent);
}

.clear-his, 
.accordion-filter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    color: currentColor;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
}

.accordion-filter:first-child {
    margin: 5px 0 0 5px;
}

.plus.icon {
    position: absolute;
    /* top: 0; */
    right: 20px;
}

.his.icon {
    width: 25px;
    height: 25px;
}

.bm-manga-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    /* background-color: var(--White-transparent); */
}

.bm-manga-details {
    width: 50%;
}

.bm-manga-details h4 {
    margin-bottom: 5px;
}

.bm-manga-image .image{
    width: 80px;
    border-radius: 5px;
}

.bm-manga-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    margin-right: 10px;
    color: var(--White);
    background-color: var(--Dark-grey-transparent);
    border: 1px solid var(--Dark-grey);
}

.clear-his:hover,
.bm-manga-button:hover {
    color: var(--Light-red);
    border: 1px solid var(--White);
    cursor: pointer;
}

.his .accordion-content-list {
    margin: 5px;
}

.his .accordion-content-item {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
}
.clear-his-wrapper {
    margin: 5px;
    text-align: right;
}
/* Showcase section */
.carousel-container {
    margin-top: 13vh;
}

.carousel-wrapper {
    margin: 20px;
}

.carousel-list {
    padding: 20px;
}

.carousel-item {
    position: relative;
    padding: 20px;
}

.carousel-manga-details {
    display: flex;
    column-gap: 20px;
}

.carousel-manga-details::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://fakeimg.pl/200x200?text=background");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .15;
}

.carousel-manga-description {
    width: 80%;
    z-index: 2;
}

.carousel-manga-description > div{
    margin-bottom: 10px;
}

.carousel-genre-list {
    display: flex;
    column-gap: 8px;
}

.carousel-genre-link:hover {
    color: var(--Light-red);
}

.carousel-manga-author {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.carousel-manga-status {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.carousel-manga-image {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    z-index: 2;
}

.carousel-image:hover  {
    opacity: 0.75;
}

.carousel-image {
    border-radius: 20px;
}

.carousel-rating {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--Dark-grey-transparent);
}

.carousel-rating .icon {
    color: yellow;
}

.carousel-dot {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.dot {
    display: inline-block;
    padding: 9px;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
    border-radius: 50%;
    cursor: pointer;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 10px;
    padding: 10px 0;
    row-gap: 15px;
    column-gap: 10px;
}

.content-item {
    width: calc(100% / 4 - 10px);
}

.content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.content-wrapper {
    margin: 4px;
}

.content-image {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.content-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding: 8px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--Grey);
}

.content-rating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.content-rating .content-icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    fill: yellow;
}

.manga-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
    text-align: center;
}

.content-wrapper .content-link:hover .image {
    opacity: 0.5;
}

.content-wrapper .content-link:hover .manga-title, 
.content-wrapper .content-link:hover .content-manga-chapter {
    color: var(--Light-red);
}

.more-button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--White);
    border: 1px solid var(--Grey);
    background-color: var(--Dark-grey);
    width: 100%;
}

.more-button:hover {
    border: 1px solid var(--White);
    background-color: var(--Grey);
}

.more-content,
.more-latest {
    display: none;
}

/* Latest Update Section */
.latest-update-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.latest-update-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.latest-update-list {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;
    gap: 20px 10px;
}

.latest-update-item {
    display: flex;
    column-gap: 15px;
    width: calc(100% / 2 - 10px);
    overflow: hidden;
    padding: 10px;
    border: 1px solid var(--White);
}

.latest-update-image {
    width: 100px;
    border-radius: 4px;
}

.latest-update-image:hover {
    opacity: 0.5;
}

.latest-manga-wrapper {
    width: 75%;
}

.latest-manga-list {
    margin: 10px 20px;
}

.latest-manga-heading {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 350px;
}

.latest-manga-item:hover {
    color: var(--Light-red);
    background-color: var(--Grey);
    cursor: pointer;
}

.latest-manga-title:hover {
    color: var(--Light-red);
    text-decoration: underline;
}

.time-updated {
    color: var(--White-transparent);
}

.latest-manga-link {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
/* End of Index */

/* Manga Description Page */
/* Manga Description Section */
.manga-container {
    margin-top: 8%;
}

.manga-description-wrapper {
    display: flex;
    column-gap: 30px;
    justify-content: start;
    padding: 15px;
    margin: 20px;
}

.manga-description-image {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 15px;
    width: 30%;
}

.manga-description-image img {
    border-radius: 10px;
}

.bookmark-button {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--Dark-grey);
    color: var(--White);
    background-color: var(--Grey);
    width: 100%;
    cursor: pointer;
}

.bookmark-checkbox {
    display: none;
}

.bookmark-icon {
    position: relative;
    top: 5px;
    left: -5px;
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.bookmark-checkbox:checked~.bookmark-button {
    color: var(--Light-red);
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
}

.manga-rating {
    display: inline-flex;
    justify-content: center;
    column-gap: 4px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--Grey);
}

.manga-rating .icon {
    color: yellow;
}

.manga-description {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.manga-description .manga-title{
    align-self: start;
}

.manga-genre-heading {
    margin-bottom: 10px;
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px 4px;
}

.genre-link {
    white-space: nowrap;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid var(--Grey);
    background-color: var(--Dark-Grey);
}

.genre-link:hover {
    color: var(--Light-red);
    background-color: var(--Grey);
    border: 1px solid var(--White-transparent);
}

.manga-author {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.author-link:hover,
.bm-manga-details a:hover,
.accordion-content-item a:hover {
    color: var(--Light-red);
}

.manga-status {
    width: 53.5%;
    display: flex;
    justify-content: space-between;
}

.chapter-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px;
}

.chapter-header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid var(--Grey);
}

.chapter {
    padding: 20px;
    background-color: var(--Grey);
    border-radius: 4px;
    border: 1px solid var(--Dark-grey);
    cursor: pointer;
}

.chapter:hover {
    color: var(--Light-red);
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
}

.chapter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 20px;
    column-gap: 15px;
    padding: 20px;
    border: 1px solid var(--Grey);
}

.chapter-item {
    width: calc(100% / 3 - 10px);
    padding: 8px;
    border: 1px solid var(--Grey);
    border-radius: 4px;
    cursor: pointer;
}

.chapter-item:hover {
    color: var(--Light-red);
    background-color: var(--Grey);
    border: 1px solid var(--White-transparent);
}

.chapter-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chapter-date {
    color: grey;
}

.chapter-item {
    width: calc(100% / 2 - 10px);
}

/* Recommendation Section */
.rec-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin: 20px;
}

.rec-heading {
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 6 - 15px);
}

.image-wrapper img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rec-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 8px;
    background-color: var(--Grey);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.rec-title {
    width: 150px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.image-wrapper:hover img{
    opacity: 0.5;
}

.rec-link:hover .rec-title {
    color: var(--Light-red);
}

.rec-rating {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.rec-rating .icon {
    width: 18px;
    height: 18px;
    color: yellow;
}

/* Comment Section */
.com-sec-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px;
}

.com-sec-header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.com-sec-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 8px;
    padding: 20px;
    width: 100%;
    border: 1px solid var(--Grey);
    border-radius: 4px;
}
.com-sec-text {
    width: 100%;
    height: 150px;
    padding: 20px;
    border-radius: 4px;
    resize: none;
}

.com-sec-button {
    padding: 8px 20px;
    border-radius: 4px;
    color: var(--White);
    border: 1px solid var(--Grey);
    background-color: var(--Dark-grey);
    cursor: pointer;
}

.com-sec-button:hover {
    background-color: var(--Grey);
    border: 1px solid var(--White-transparent);
}

.comments-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    border: 1px solid var(--Grey);
    padding: 10px;
}

.user {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.user-reply-wrapper {
    display: none;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.user-reply {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    gap: 10px;
}

.user-reply-textbox {
    padding: 8px 0 4px 0;
    color: var(--White);
    background-color: var(--Dark-grey);
    border-bottom: 1px solid var(--White-transparent);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 100%;
}

.user-reply-button,
.post-reply-button {
    padding: 5px;
    color: var(--White);
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
    border-radius: 4px;
    cursor: pointer;
}

.user-reply-button:hover,
.post-reply-button:hover {
    background-color: var(--Grey);
    border: 1px solid var(--White);
}

.toolbar-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.upvote:hover,
.downvote:hover {
    cursor: pointer;
    color: var(--Light-red-transparent);
}

.upvote-radio,
.downvote-radio {
    display: none;
}

.downvote-radio:checked ~ .downvote, 
.upvote-radio:checked ~ .upvote {
    color: var(--Light-red);
}

.reply {
    margin-left: 10px;
    cursor: pointer;
    padding: 4px 8px;
    color: var(--White);
    background-color: var(--Dark-Grey);
    border-radius: 4px;
    border: 1px solid var(--Grey);
}

.reply:hover {
    border: 1px solid var(--White);
    background-color: var(--Grey);
}

.rep-num {
    display: flex;
    align-items: center;
    width: 10%;
}

.rep-num:hover {
    cursor: pointer;
    color: var(--Light-red);
}

.post-replies {
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.post-replies-wrapper {
    display: flex;
    gap: 10px;
}

.reply-user {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.post-reply-container {
    display: none;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.post-reply-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: end;
    gap: 10px;
}

.post-reply-textbox {
    padding: 8px 0 4px 0;
    color: var(--White);
    background-color: var(--Dark-grey);
    border-bottom: 1px solid var(--White-transparent);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 100%;
}

.post-reply-textbox:focus,
.user-reply-textbox:focus {
    border: 1px solid var(--White);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

/* End of Manga Description */

/* Manga List Page */
/* Manga Directory Section */
.manga-directory {
    margin-top: 8%;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    row-gap: 15px;
    margin: 0 25px;
}

.directory-header {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.manga-table {
    width: 100%;
}

table,
th,
td {
    text-align: center;
    border: 1px solid var(--Grey);
    border-collapse: collapse;
    cursor: default;
}

.manga-table-wrapper {
    width: 100%;
}
.table-header {
    padding: 9px;
}

.table-data {
    padding: 8px;
}

.table-link {
    display: block;
    width: 100%;
    padding: 2px;
}

.table-link:hover,
.favorites .link:hover {
    color: var(--Light-red);
}

tbody tr:nth-child(even) {
    background-color: var(--Grey-transparent);
}

tr td:first-child {
    text-align: justify;
}

.table-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    column-gap: 15px;
    width: 100%;
}

.table-search {
    width: 100%;
}

.search-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    position: absolute;
    top: 9.5px;
    left: 15px;
}

.table-searchbox {
    width: 100%;
    padding: 8px 40px;
    color: var(--White);
    border-radius: 4px;
    border: 1px solid var(--Grey);
    background-color: var(--Dark-grey);
}

.table-searchbox:focus {
    border: 1px solid var(--White-transparent);
    background-color: var(--Grey);
    
}

.advance-search-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    white-space: nowrap;
    padding: 7px;
    color: var(--White);
    border-radius: 4px;
    border: 1px solid var(--Grey);
    background-color: var(--Dark-grey);
}

.filter-button:focus,
.filter-button:hover, 
.pagination-link:hover,
.pagination-link:focus,
.accordion-filter:hover,
.advance-search-button:hover,
.advance-search-button:focus {
    border: 1px solid var(--White-transparent);
    background-color: var(--Grey);
    cursor: pointer;
}

.advance-search {
    display: none;
    position: absolute;
    top: 110%;
    left: 0.1%;
    width: 91.4%;
    padding: 10px;
    border: 1px solid var(--White-transparent);
    background-color: var(--Dark-grey);
    z-index: 2;
}

.section-heading {
    text-align: center;
    border: 1px solid var(--White-transparent);
    cursor: pointer;
    padding: 5px;
}

.search-genre {
    display: none;
}

.search-genre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 5px;
    padding: 8px 0;
    border: 1px solid var(--White-transparent);
    border-top: none;
    border-bottom: none;
}
.search-genre-wrapper {
    width: calc(100% / 4 - 8px);
}

.genre-checkbox,
.search-genre-label .icon {
    display: none;
}

.search-genre-label:hover,
.genre-checkbox:checked ~ .search-genre-label {
    color: var(--Light-red);
    border: 1px solid var(--White-transparent);
}

.genre-checkbox:checked~.search-genre-label .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.search-genre-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--Grey);
    padding: 5px;
    cursor: pointer;
}

.search-manga {
    display: block;
    padding: 8px;
    border: 1px solid var(--White-transparent);
    border-top: none;
}

.section-heading:hover {
    color: var(--Light-red);
    background-color: var(--Grey);

}
.search-manga-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.search-box {
    position: relative;
    width: calc(100% / 2 - 10px);
}

.search-box .icon {
    position: absolute;
    top: 25%;
    left: 10px;
    color: currentColor;
}

.text-box {
    color: var(--White);
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
    width: 100%;
    padding: 8px 8px 8px 35px;  
}

.text-box:hover,  
.text-box:focus  {
    background-color: var(--Grey);
    border: 1px solid var(--White-transparent);
}
.section-three {
    margin-top: 8px;
    text-align: right;
}

.adv-search-button {
    padding: 5px 10px;
    cursor: pointer;
    color: var(--White);
    background-color: var(--Dark-grey);
    border-radius: 4px;
    border: 1px solid var(--Grey);
}

.adv-search-button:hover {
    background-color: var(--Grey);
    border: 1px solid var(--White-transparent);
}

.filter-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding: 7px;
    color: var(--White);
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
    border-radius: 4px;
}

.table-filter-wrapper {
    display: none;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
    border: 1px solid var(--Grey);
    padding: 10px;
    column-gap: 15px;
}

.table-filter-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 33%;
    color: var(--White);
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
}

.table-filter-button:hover {
    background-color: var(--Grey);
    border: 1px solid var(--White-transparent);
    cursor: pointer;
}

.table-filter {
    display: none;
    margin: 10px;
    padding: 10px;
    width: 31.8%;
    height: 280%;
    overflow-x: auto;
    position: absolute;
    top: 40px;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table-filter::-webkit-scrollbar {
    display: none;
}

.sort-filter {    
    left: 0;
}

.genre-filter {    
    left: 33.2%;
}

.status-filter {    
    left: 66.35%;
}

.table-filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.table-filter-item label {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    cursor: pointer;
}

.table-filter-item:hover,
.filter-radio:checked ~ .table-filter.item.label {
    color: var(--Light-red);
    background-color: var(--Grey-transparent);    
}

.filter-checkbox, 
.filter-radio {
    display: none;
}

.filter-checkbox:checked ~ .icon.check,
.filter-radio:checked ~ .icon.check {
    visibility: visible;
}

.icon.check {
    visibility: hidden;
}

.table-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--Grey);
    border-top: none;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;    
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
    
}

.pagination-icon {
    width: 15px;
    height: 15px;
    fill: currentColor;
}
/* End Manga List Page */

/* Start of Manga Page */
/* Manga Section */
.manga-nav {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border: 1px solid var(--Grey);
    padding: 10px;
}

.manga-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: 18%;
    padding: 8px;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
}

.manga-nav-button:hover,
.manga-nav-button:focus,
.bookmark-label:hover {
    border: 1px solid var(--White);
    background-color: var(--Grey);
}

.bookmark-form {
    width: 18%;
}

.bookmark {
    display: none;
}

.bookmark:checked ~ .bookmark-label {
    color: var(--Light-red);
}

.bookmark-label {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
}

.manga-page-wrapper {
    margin: 20px;
}

.manga-page-image {
    width: 100%;
}
/* End of Manga Page */

/* Start Of Favorites Page */
.favorites {
    margin-top: 8%;
    min-height: 80vh;
}

.favorites-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.favorites-header {
    width: 100%;
}

.favorites-manga-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 10px);
    background-color: var(--Grey);
}

.favorites-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.favorites-search-wrapper {
    position: relative;
    width: 70%;
}

.favorites-search {
    visibility: hidden;
    width: 1%;
    padding: 8px 8px 8px 38px;
    border: 1px solid var(--White-transparent);
    border-radius: 20px;
    color: currentColor;
    background-color: var(--Grey);
}

.favorite.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 38px;
    padding: 7px;
    border-radius: 20px;
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
}

.favorites-button {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    color: var(--White);
    background-color: var(--Dark-grey);
    border: 1px solid var(--Grey);
    border-radius: 20px;
}

.active,
.dot:hover,
.favorite.icon:hover,
.favorites-button:hover {
    background-color: var(--Grey);
    cursor: pointer;
}

.favorites-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
}

.favorites-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 240px;
    margin-bottom: 5px;
}

.favorites-title a {
    display: block;
}

.favorites-summary {
    display: none;
}

.favorites-chapter {
    display: flex;
    gap: 8px;
}

.time-posted .icon {
    width: 15px;
    height: 15px;
}

.time-posted {
    display: flex;
    align-items: center;
    gap: 5px;
}

.favorites-manga-wrapper:hover .image{
    opacity: 0.5;
}
/* Footer Section */
.footer-container {
    padding: 30px;
    text-align: center;
    margin-bottom: 0;
}

.goto-top:hover {
    color: currentColor;
    background-color: var(--Grey);
    border: 1px solid var(--Grey);
}

.goto-top {
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    height: 32px;
    width: 32px;
    color: var(--Grey);
    background-color: var(--White);
    border-radius: 50%;
    border: 1px solid var(--Grey);
}

.goto-top-icon {
    fill: currentColor;
    width: 32px;
    height: 32px;
}


@media (min-width: 320px) and (max-width: 479px){
    body {
        background-color: pink;
    }
    
    /* .nav-container {

    } */

    .nav-form,
    .carousel-wrapper h1,
    .carousel-rating,
    .carousel-manga-summary h4,
    .manga-genre h4 {
        display: none;
    }

    .carousel-wrapper {
        margin: 0;
    }

    .carousel-list {
        padding: 0;
    }

    .carousel-container {
        margin-top: 30%;
        width: 100%;
    }

    .carousel-manga-details {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    .carousel-image {
        border-radius: 0;
        width: 80px;
    }
    

    .carousel-genre-list {
        overflow: hidden;
    }

    .side-nav {
        width: 5%;
    }

    .side-navbar-list {
        align-items: center;
    }

    .side-navbar-icon {
        margin: auto;
    }

    .side-navbar-item span {
        display: none;
    }
}

/* @media (min-width: 480px){
    body {
        background-color: yellow;
    }
} */

@media (min-width: 768px) and (max-width: 1023px) {
   .container {
        width: 90%;
        margin-left: 9%;
        margin-bottom: 1%;
   }

   .carousel-container,
   .manga-container,
   .manga-directory,
   .bookmark-container {
        margin-top: 10%;
   }

   .carousel-genre-list {
       display: flex;
       flex-wrap: wrap;
       column-gap: 8px;
   }

   .carousel-manga-image {
        width: 30%;
   }

   .carousel-manga-description {
        width: 70%;
   }

   .carousel-manga-author,
   .carousel-manga-status {
        width: 100%;
   }

   .nav-container {
        justify-content: space-between;
        padding: 0 20px 0 12px;
   }
   
   .nav-search-bar {
       width: 250px;
   }

   .nav-search-bar:focus {
       width: 300px;
   }

   .side-nav {
        max-width: 8%;
   }
   
   .side-navbar-list {
        padding: 2px 4px;
   }
   
   .side-navbar-icon {
        margin: auto;
   }

   .side-navbar-item span {
        display: none;
   }

   .profile-container {
        margin-top: 8%;
        width: 40vw;
   }

   .notif-container {
        margin-top: 8%;
        width: 50vw;
   }
   
   .content-item {
        width: calc(100% / 3 - 10px);
   }

   .latest-update-list {
       display: flex;
       justify-content: start;
       flex-wrap: wrap;
       align-items: center;
       gap: 10px;
   }
   
   .latest-update-item {
        width: calc(100% / 2 - 10px);
   }

   .latest-manga-wrapper {
        width: 69%;
   }

   .latest-manga-heading {
        width: 90%;
   }

   .manga-table-wrapper {
        overflow-x: auto;
        scrollbar-width: none;
   }

   .manga-table-wrapper::-webkit-scrollbar {
        display: none;
   }

   .manga-table,
   .table-footer {
        width: 140%;
    }

    .rep-num {
        width: 20%;
    }

    .rec-wrapper {
        justify-content: start;
        gap: 10px;
    }

    .image-wrapper.manga {
        width: calc(100% / 3 - 10px);
    }

    .image-wrapper {
        width: calc(100% / 4 - 10px);
    }

    .genre-list {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .genre-link {
        padding: 0;
    }

    .manga-description-wrapper {
        display: flex;
        column-gap: 10px;
        margin: 20px;
        padding: 0;
    }

    .manga-description-image {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 15px;
        width: 40%;
    }
    
    .manga-description {
        width: 60%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    
}

/* @media (min-width: 1024px) {
    body {
        background-color: var(--Blue);
     
    }

    .container {
        width: 80%;
        margin-left: 17.5%;
    }

    .side-nav {
        width: 15%;
    }

    .side-navbar-list {
        align-items: start;
    }

    .side-navbar-icon {
        margin-right: 15px;
    }
    
    .side-navbar-item span {
        display: block;
        overflow: hidden;
    }
    
} */